.footer{background-color:#16110e; padding:40px;}
.footer img{width:130px; height:auto;}
.footer p{font:14px/1.6 'NotoSansR'; color:#fff; opacity: .5;}
.footer p:nth-child(2){padding-top:20px;}







@media all and (min-width:768px){
    
    .footer p{font-size:16px;}
    .footer img{width:163px; height:64px;}


}